.keypad-container {
  background-color: var(--inputscreen-background-color);
  padding: 2rem;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5rem;

  & :nth-last-child(1) {
    grid-column: 3 / span 2;
    width: 204px;
    background-color: var(--red-key);
    box-shadow: var(--red-key-shadow) 0px 4px 0px 0px;
    color: white;

    &:hover {
      background-color: var(--red-key-hover);
    }
  }

  & :nth-last-child(2) {
    grid-column: 1 / span 2;
    width: 204px;
  }

  & :nth-child(4),
  :nth-last-child(2) {
    background-color: var(--dark-keys-background);
    box-shadow: var(--dark-keys-shadow) 0px 4px 0px 0px;
    color: white;

    &:is(:hover, :focus) {
      background-color: var(--dark-keys-hover);
    }
  }
}

@media screen and (width < 550px) {
  .keypad-container {
    gap: 2rem;

    & :nth-last-child(2) {
      width: 150px;
    }

    & :nth-last-child(1) {
      width: 150px;
    }
  }
}

@media screen and (width < 380px) {
  .keypad-container {
    gap: 1rem;
    padding: 1rem;

    & :nth-last-child(2) {
      width: 125px;
      font-size: 20px;
    }

    & :nth-last-child(1) {
      width: 125px;
    }

    & :nth-child(4) {
      font-size: 12px;
    }
  }
}
