body {
  font-family: "Inter", "sans-sarif";
  font-size: inherit;
  line-height: 1.2;
}

p {
  font-size: clamp(0.9rem, 2vw, 1rem);
  color: var(--body);
  text-align: justify;
}
h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;

  border: 2px solid #999;
  transition: 0.2s all linear;

  position: relative;
  top: 5px;

  &:checked {
    border: 6px solid var(--very-light-gray);
    background-color: var(--deep-blue);
  }
}

input[checked] {
  border: 2px solid #999;
  background-color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"] {
  width: 11rem;
  height: 2rem;
  border: 2px solid var(--body);
  border-radius: 5px;

  &::placeholder {
    font-size: 1.4rem;
    color: var(--body);
    opacity: 0.2;
  }

  @media screen and (width<1440px) {
    width: 9rem;
  }

  @media screen and (width<990px) {
    width: 15rem;
  }

  @media screen and (width<750px) {
    width: 10rem;
  }

  @media screen and (width<750px) {
    width: 8rem;
  }
}

/* background rectangle styling */
.background-rect {
  height: 650px;
  width: 1000px;
  background-image: var(--to-left-top-gradient);
  position: relative;
  margin-left: 10px;
  border-end-end-radius: 25px;
  border-end-start-radius: 25px;

  @media screen and (width < 1440px) {
    width: 97vw;
    height: 80vh;
  }
}

/* creating grid layout: 12 column and 6 rows */
.grid-container {
  /* position on top of background rectangle */
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 100px repeat(11, 1fr); /* 100px column is used to set left alignment of page as shown in design */
  grid-template-rows: repeat(6, auto);

  @media screen and (width<750px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

header {
  grid-column: 2/13;
  grid-row: 1 / span 1;
  padding-top: 64px;

  @media screen and (width < 990px) {
    padding-top: 30px;
    grid-column: 6/8;
    justify-self: center;
  }
}

footer {
  grid-column: 1/13;
  grid-row: 6 / span 1;
  margin: 3rem;

  > p {
    text-align: center;
  }
}

/* section 1 */
.bmi-calculator-container {
  grid-column: 2/13;
  grid-row: 2 / span 1;
  height: 600px;

  display: grid;
  grid-template-columns: subgrid;

  @media screen and (width<1120px) {
    height: 800px;
  }

  @media screen and (width<990px) {
    justify-items: center;
    align-content: start;
    row-gap: 2rem;
    height: 700px;
  }

  @media screen and (width<450px) {
    grid-column: 1/13;
  }
}

.bmi-description {
  grid-column: 1/5;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 6rem;

  @media screen and (width<1120px) {
    grid-column: 3/9;
    padding-top: 0;
    align-self: center;
    padding-top: 3rem;
  }

  @media screen and (width<990px) {
    grid-column: 1/11;
    text-align: center;
    padding-top: 1rem;
  }

  @media screen and (width<700px) {
    gap: 1.5rem;
  }

  @media screen and (width<450px) {
    grid-column: 1/13;

    p {
      padding: 10px;
    }
  }
}

.bmi-calculator {
  grid-column: 6/11;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  padding: 1.5rem 3rem;
  height: min-content;
  background-color: white;
  box-shadow: 1rem 1rem 2rem 1rem var(--meaning-gradient-start);

  @media screen and (width<1120px) {
    grid-column: 3/9;
  }

  @media screen and (width<990px) {
    grid-column: 1/11;
  }

  @media screen and (width<750px) {
    align-self: start;
    gap: 1.5rem;
  }

  @media screen and (width<450px) {
    grid-column: 1/13;
    border-radius: 0;
  }
}

.input-container {
  display: flex;
  justify-content: space-between;

  > :nth-child(2) {
    margin-left: 4rem;

    @media screen and (width<1440px) {
      margin-left: 1rem;
    }
  }
}

.input {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  > :nth-child(1) {
    font-size: 1rem;

    label {
      padding-left: 25px;
      font-size: 1rem;
      font-weight: 700;
      color: var(--heading);
    }
  }
}

.bmi-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;

  label {
    font-size: 0.8rem;
    color: var(--body);
  }
}

.results {
  background-color: var(--deep-blue);
  padding: 1rem;
  border-radius: 10px;

  border-start-end-radius: 100px;
  border-end-end-radius: 100px;

  display: flex;
  flex-direction: column;

  p {
    color: white;
    margin: auto;
    line-height: 1.5;

    strong {
      font-size: 1.5rem;
    }
  }

  @media screen and (width<750px) {
    padding: 0.5rem;

    P strong {
      font-size: 1rem;
    }
  }
}

/* section 2 : what */
.what {
  grid-column: 2/12;
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;

  @media screen and (width<750px) {
    gap: 1.5rem;
  }

  @media screen and (width<450px) {
    grid-column: 1/13;
  }
}

.what-img {
  grid-column: 1/6;

  > img {
    width: 40vw;
    height: 40vw;

    @media screen and (width<750px) {
      width: 50vw;
      height: 50vw;
    }
  }

  @media screen and (width<750px) {
    grid-column: 1/12;
    justify-self: center;
  }
}

.what-container {
  grid-column: 7/11;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2,
  p {
    padding-left: 40px;
  }

  @media screen and (width<950px) {
    grid-column: 6/11;
  }

  @media screen and (width<750px) {
    grid-column: 1/11;
  }
}

.background-image-right {
  display: flex;
  justify-content: end;
  height: 100px;

  @media screen and (width < 1440px) {
    display: none;
  }
}

/* section 3 : How */
.how {
  grid-column: 1/13;
  grid-row: 4 / span 1;
  height: 400px;
  display: grid;
  grid-template-columns: subgrid;
  place-content: center;
  column-gap: 2rem;
  margin-top: 100px;
  margin-right: 20px;
  background-image: var(--to-left-top-gradient);
  border-radius: 25px;
  padding: 20px;

  @media screen and (width < 750px) {
    height: 120vh;
    row-gap: 1rem;
    align-items: center;
    border-radius: 0;
    margin-right: 0;
  }
}

.eating {
  grid-column: 2/5;
}

.exercise {
  grid-column: 5/8;
}

.sleep {
  grid-column: 8/11;
}

.eating,
.exercise,
.sleep {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > p {
    text-align: left;
  }

  @media screen and (width < 750px) {
    grid-column: 2/12;
  }
}

.banner-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: start;

  > img {
    width: 3rem;
    height: 3rem;
  }
}

/* section 4 : limitations */
.limitations {
  grid-column: 2/12;
  grid-row: 5 / span 1;
  padding-top: 10rem;
  height: 135vh;
  display: grid;
  grid-template-columns: subgrid;
  gap: 2rem;
  position: relative;
}

.limitations-heading {
  grid-column: 1 / span 5;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.background-image-left {
  margin: auto;
  padding-top: 10px;
  margin-left: 200px;
}

.gender {
  grid-column: 7 / span 3;
}

.age {
  grid-column: 5 / span 3;
}

.muscle {
  grid-column: 8 / span 3;
}

.age,
.muscle {
  position: absolute;
  top: 24rem;
}

.pregnancy {
  grid-column: 3 / span 3;
}

.race {
  grid-column: 6 / span 3;
}

.limitations div + div {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 20px 10px var(--very-light-gray);
  height: min-content;

  > p {
    text-align: left;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  & div {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }
}

@media screen and (width<1120px) {
  .limitations {
    height: 150vh;
  }

  .background-image-left {
    display: none;
  }

  .limitations-heading {
    grid-column: 1/11;
    align-items: center;
  }

  .muscle {
    grid-column: 1/6;
    position: absolute;
    top: 33rem;
  }

  .pregnancy {
    grid-column: 6/11;
    position: absolute;
    top: 33rem;
  }
  .gender {
    grid-column: 1/6;
    position: absolute;
    top: 20rem;
  }

  .age {
    grid-column: 6/11;
    position: absolute;
    top: 20rem;
  }

  .race {
    grid-column: 3/9;
    position: absolute;
    top: 45rem;
  }

  .limitations div + div {
    height: 180px;
  }
}

@media screen and (width<900px) {
  .limitations {
    height: 160vh;
  }

  .limitations div + div {
    height: 190px;
  }

  .race {
    top: 47rem;
  }
}

@media screen and (width<800px) {
  .limitations {
    height: 170vh;
  }

  .limitations div + div {
    height: 220px;
  }

  .muscle,
  .pregnancy {
    top: 35rem;
  }

  .race {
    top: 50rem;
  }
}

@media screen and (width<650px) {
  .age,
  .muscle,
  .pregnancy,
  .gender,
  .race {
    grid-column: 1/11;
    position: relative;
    top: 0;
  }

  .limitations div + div {
    height: min-content;
    box-shadow: 2px 2px 5px 5px var(--very-light-gray);
  }

  .limitations {
    height: 180vh;
    row-gap: 1.5rem;
    align-content: start;
  }
}

@media screen and (width<460px) {
  .limitations {
    height: 195vh;
  }
}

@media screen and (width<400px) {
  .limitations {
    height: 205vh;
  }
}

@media screen and (width<350px) {
  .limitations {
    height: 215vh;
  }
}
