<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aspect ratio image card</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="parent">
      <div class="card">
        <h1>Image Title</h1>
        <img
          class="visual"
          src="/notifications-page-main/design/desktop-design.jpg"
        />
        <p>Descriptive Text goes here</p>
      </div>
    </div>
  </body>
</html>
