<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clamping card</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card-container">
      <div class="card">
        <h2>Card Name</h2>
        <div class="visual">width: clamp(23ch, 60%, 46ch);</div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum sint
          cumque magnam deserunt provident asperiores quidem laudantium magni
          tempora modi dolorem, eos, perspiciatis exercitationem corporis
          voluptate hic debitis quaerat eveniet.
        </p>
      </div>
    </div>
  </body>
</html>
